
<footer class="bg-dark text-center text-white">
    <div class="container p-4">
       <!-- REDES SOCIALES-->
      <section class="mb-4">
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.facebook.com/" role="button"
          ><i class="fab fa-facebook-f"></i
        ></a>
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://twitter.com/?lang=es" role="button"
          ><i class="fab fa-twitter"></i
        ></a> 
        <a class="btn btn-outline-light btn-floating m-1" target="_blank" href="https://www.instagram.com/" role="button"
          ><i class="fab fa-instagram"></i
        ></a>

      </section>
  
      <!-- LINKS -->
      <section class="">
        <div class="row">

          <div class="">
            <h5 class="text-uppercase"></h5>
  
            <ul class="list-unstyled mb-0">
              <li>
                <a [routerLink]="['tyc']"target="_blank" class="text-white">Términos y condiciones</a>
              </li>
              <li>
                <a [routerLink]="['aviso']" target="_blank" class="text-white">Aviso de Privacidad</a>
              </li>
              <li>
                <a [routerLink]="['tallas']" target="_blank" class="text-white">Guia de tallas</a>
              </li>
              <li>
                <a [routerLink]="['envio']" target="_blank" class="text-white">Envío</a>
              </li>
            </ul>
          </div>
          </div>
      </section>
    </div>
   <!-- COPYRIGHT -->
    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
      © {{anio}} Copyright: Xnkrs, Todos los derechos reservados.
    </div>
 
  </footer>