<div class="bann">
        <section class="ban">
            <img src="assets/img/1.jpg">
            <img src="assets/img/2.jpg">
            <img src="assets/img/3.jpg">
            <img src="assets/img/4.jpg">
            <img src="assets/img/5.jpg">
            <img src="assets/img/6.jpg">
        </section></div>
<body>

    <main>

        <div class="page-div">
            <h1>Mira todos nuestros articulos</h1>
            <a class="btn" href="./tenis">VER AHORA!</a>
        </div>
        
        
       
        <section class="product-container">
            <a  href="#"><img class="logo" src="assets/img/nikelogos.jpg"></a>
            <div class="product-row">
                
                <div class="product-card"> 
                    <img src="assets/img/nike1.jpg" alt="Producto 1">
                    <h3>Dunk Low "Pine Green"</h3>
                  
                   <a href="./teni/0"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                
                <div class="product-card"> 
                    <img src="assets/img/nike2.jpg" alt="Producto 1">
                    <h3>BAPE STA de A BATHING APE</h3>
            
                    <a href="./teni/1"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                <div class="product-card"> 
                    <img src="assets/img/nike3.jpg" alt="Producto 1">
                    <h3>Air Jordan 1 Retro High OG Chicago Lost and Found</h3>
                    
                    <a href="./teni/2"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                <div class="product-card"> 
                    <img src="assets/img/nike4.jpg" alt="Producto 1">
                    <h3>Air Jordan 3 SP J Balvin</h3>
              
                    <a href="./teni/3"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                <div class="product-card"> 
                    <img src="assets/img/nike5.jpg" alt="Producto 1">
                    <h3>Air Jordan 4 Thunder</h3>
                  
                    <a href="./teni/4"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                
            </div>
            <div class="">
                <section class="">
                    <img class="contain" src="assets/img/8.jpg">
                </section></div>
        </section>
        <section class="product-container">
            <a  href="#"><img class="logo" src="assets/img/adidaslogo.jpg"></a>
            <div class="product-row">
               
                <div class="product-card"> 
                    <img src="assets/img/adidas1.jpg" alt="Producto 1">
                    <h3>Campus de adidas x Bodega"</h3>
                    <a href="./teni/7"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
              
                <div class="product-card">
                    <img src="assets/img/adidas2.jpg" alt="Producto 1">
                    <h3>Samba de adidas x Wales Bonner</h3>
                 
                    <a href="./teni/8"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                <div class="product-card"> 
                    <img src="assets/img/adidas3.jpg" alt="Producto 1">
                    <h3>Forum Buckle Low White de adidas x Bad Bunny</h3>
                
                    <a href="./teni/9"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                <div class="product-card"> 
                    <img src="assets/img/adidas4.jpg" alt="Producto 1">
                    <h3>Ozelia</h3>
             
                    <a href="./teni/10"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                <div class="product-card"> 
                    <img src="assets/img/adidas5.jpg" alt="Producto 1">
                    <h3>HU NMD de adidas x Pharrell Williams</h3>
                
                    <a href="./teni/11"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                
            </div>
        </section>
        <section class="product-container">
            <a  href="#"><img class="logo" src="assets/img/converselogos.jpg"></a>
            <div class="product-row">
              
                <div class="product-card"> 
                    <img src="assets/img/converse1.jpg" alt="Producto 1">
                    <h3>Chuck 70 de Converse x Off-White</h3>
                    
                    <a href="./teni/14"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                
                <div class="product-card"> 
                    <img src="assets/img/converse2.jpg" alt="Producto 1">
                    <h3>Chuck 70 High de Converse x CDG</h3>
               
                    <a href="./teni/15"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                <div class="product-card"> 
                    <img src="assets/img/converse3.jpg" alt="Producto 1">
                    <h3>Chuck Taylor Hi All-Star Lift</h3>
               
                    <a href="./teni/16"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                <div class="product-card"> 
                    <img src="assets/img/converse4.jpg" alt="Producto 1">
                    <h3>Run Star</h3>
               
                    <a href="./teni/17"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                <div class="product-card"> 
                    <img src="assets/img/converse5.jpg" alt="Producto 1">
                    <h3>Chuck 70 High de Converse x CDG</h3>
         
                    <a href="./teni/18"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                
                
            </div>
            <div class="">
                <section class="">
                    <img class="contain" src="assets/img/9.jpg">
                </section></div>
            
        </section>
        <section class="product-container">
            <a  href="#" ><img class="logo" src="assets/img/pumalogos.jpg"></a>
            <div class="product-row">
                
                <div class="product-card"> 
                    <img src="assets/img/puma1.jpg" alt="Producto 1">
                    <h3>Dunk Low "Pine Green"</h3>
             
                    <a href="./teni/21"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                
                <div class="product-card"> 
                    <img src="assets/img/puma2.jpg" alt="Producto 1">
                    <h3>Dunk Low "Pine Green"</h3>
              
                    <a href="./teni/22"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                <div class="product-card"> 
                    <img src="assets/img/puma3.jpg" alt="Producto 1">
                    <h3>LaMelo Ball de Puma x Rick and Morty MB.01</h3>
                 
                    <a href="./teni/23"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                <div class="product-card"> 
                    <img src="assets/img/puma4.jpg" alt="Producto 1">
                    <h3>Clyde Q3 de PUMA x Rhuigi</h3>
             
                    <a href="./teni/24"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                <div class="product-card"> 
                    <img src="assets/img/puma5.jpg" alt="Producto 1">
                    <h3>RS-X Toys</h3>
           
                    <a href="./teni/25"> <button class="view-details-button">Ver Detalles</button></a>
                </div>
                
            </div>
        </section>
        
    </main>

    
    

</body>

