
<body>
    <header>

    </header>
    
    <main>
        <!-- Contenido del aviso de privacidad -->
        <section class="privacy-policy">
            <h2>Aviso de Privacidad</h2>
            <p>En Xnkrs, estamos comprometidos a proteger tu privacidad. Este aviso de privacidad describe cómo recopilamos, utilizamos y protegemos tus datos personales. Te recomendamos leer esta información detenidamente.</p>
            
            <h3>Información Recopilada</h3>
            <p>Recopilamos información personal, como tu nombre, dirección y dirección de correo electrónico, cuando realizas una compra o nos contactas. También recopilamos datos de navegación y comportamiento en el sitio web.</p>
            
            <h3>Uso de la Información</h3>
            <p>Utilizamos tus datos personales para procesar pedidos, proporcionar soporte al cliente y mejorar nuestros servicios. No compartimos tus datos con terceros sin tu consentimiento.</p>
            
            <h3>Seguridad de los Datos</h3>
            <p>Tomamos medidas para proteger tus datos personales y mantenerlos seguros. Utilizamos protocolos de seguridad en línea y almacenamos la información de manera segura.</p>
            
            <h3>Derechos de Privacidad</h3>
            <p>Tienes derecho a acceder, corregir y eliminar tus datos personales. Para ejercer tus derechos o realizar preguntas sobre nuestra política de privacidad, contáctanos a través de los datos de contacto proporcionados en nuestra página de contacto.</p>
            
            <p>Este aviso de privacidad está sujeto a cambios. Consulta regularmente nuestra página de aviso de privacidad para obtener la versión más actualizada.</p>
        </section>
    </main>
    
  
</body>


