
<body>
    <header>
        <a href="./tenis" class="back-link">
            <i class="fa-solid fa-backward fa-2xl " style="color: #fff;"></i>
        </a>
        
    </header>
    <main>
        <div class="tenis-details">
            <h1>{{teni.nombre}}</h1>
            <h2>{{teni.precio}}</h2>
            <img src="{{teni.img}}" alt="Tenis Nike Modelo 1">
            <h2>{{teni.marca}}</h2>
            <p class="description">Estos increíbles tenis Nike son perfectos para cualquier ocasión. Son cómodos, elegantes y duraderos. ¡Obtén los tuyos hoy mismo!</p>
            <h3>COMPRA AHORA</h3>
            <p class="description">Para seguir con el proceso de compra, mandonos un whats app y ahi te haremos cotizacion de la compra y las tallas disponibles ya que el precio varia conforme la talla, te esperamos!</p>
            <small>(los precios dados en la pagina son una media de todas las tallas, por lo que no es el precio final)</small>
            <a href="https://wa.me/1234567890?text=Hola, me gustaría comprar el Tenis {{teni.nombre}}. Por favor, avísame cómo proceder." target="_blank" class="whatsapp-link">Comprar por WhatsApp</a>
        </div>
    </main>
</body>

