
<body>

    
    <main>
        <!-- Contenido de resultados de búsqueda y filtros -->
        <section class="search-results">
            <h2>TODOS LOS PRODUCTOS </h2>
                
  
            <!-- Resultados de la búsqueda (productos) -->
            <div class="product-container" >
                <!-- Producto 1 -->
                <div class="product" *ngFor="let teni of tenis| paginate: { itemsPerPage: 6, currentPage: page } ;
                let i =index "  >
                    <img src="{{teni.img}}" alt="Producto 1">
                    <h3>{{teni.nombre |uppercase}}</h3>
                    <p>{{teni.desc |slice:0:60}}...</p>
                    <p><span class="price">{{teni.precio}}</span></p>
                    <button class="add-to-cart"(click)="VerTeni(i)">Ver más</button>
                    <div class="card-footer">
                    <small class="text-body-secondary">{{teni.marca}}</small></div>
                </div>
                
                <!-- Repite esta estructura para más productos -->
                
            </div>
            
            <!-- Paginación -->
            <div class="pagination">
                <ul>
                    <pagination-controls (pageChange)="page = $event"  previousLabel="Previous" nextLabel="Next"></pagination-controls>
                </ul>
            </div>
        </section>
    </main>
    
</body>
